<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>
<%= form_with(model: [ @category, Product.new ]) do |form| %>
  <%= form.hidden_field :category_id, value: @category.id %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Price</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
	<% @category.products.each do |product| %>
		<tr>
			<td><%= product.name %></td>
			<td><%= product.price %></td>
			<td> <%= link_to("Borrar", [product.category, product] , method: :delete) %> </td>
		</tr>
	<% end %>
	</tbody>
</table>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>